<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index.html templates</h1>
    <hr>
    <a th:href="@{/sample/ex1}">/sample/ex1</a><br>
    <a th:href="@{/sample/ex2}">/sample/ex2</a><br>
    <a th:href="@{/sample/exInline}">/sample/exInline</a><br>
    <a th:href="@{/sample/exLink}">/sample/exLink</a><br>
    <a th:href="@{/sample/exLayout1}">/sample/exLayout1</a><br>
    <a th:href="@{/sample/exLayout2}">/sample/exLayout2</a><br>
    <a th:href="@{/sample/exTemplate}">/sample/exTemplate</a><br>
    <a th:href="@{/sample/exSidebar}">/sample/exSidebar</a><br>
</body>
</html>